.input-group[class*=col-]{
    padding-right: 15px;
    padding-left: 15px;
}
.save{
    display: none;
}

.alert{
    display: none;
}

.btn-group form{
    display: inline-block;
}
.btn-group > * {
    margin-bottom: 5px;
}